.opcion{
	padding: 5px 0;
}

.barra{
	background-color: rgb(152, 196, 236);
	border-radius: 4px;
	padding: 10px;
}

.seleccionado{
	background-color: rgb(33, 90, 143);
	border-radius: 4px;
	color: white;
	padding: 10px;
}